/*#1f2229*/
/*#61dafb*/

.App {
  background-color: #151320;
  width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  /* text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*animate the background gradient position, use vh so that start/end syncs up viewport horizontal*/
/* .rainbow {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.rainbow:before {
  content: '';
  height: 300%;
  width: 300%;
  position: absolute;
  background: conic-gradient(#fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c);
  left: -100%;
  top: -100%;
  animation: spin 2s infinite linear;
}
@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}
.rainbow:after {
  content: '';
  position: absolute;
  background-color: #1c1b29;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  top: 5px;
  left: 5px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 6px;
  display: grid;
  place-items: center;
}
*/

/* .rainbow-box {
  background-color: #302244;
  border: 3px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  margin: 20px auto;
} */

.rainbowGradient {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  /* box-shadow: inset 0 0 12px 12px white, inset 0 0 3px 2px white; */
  /* background: linear-gradient(to right, orange, yellow, green, cyan, blue, rgb(238, 130, 238)); */
  background: linear-gradient(250deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}
.rainbowGradient2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
  border-radius: 5px;
  /* box-shadow: inset 0 0 12px 12px white, inset 0 0 3px 2px white; */
  background: linear-gradient(to right, orange, yellow, green, cyan, blue, rgb(238, 130, 238));
  /* background: linear-gradient(250deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%); */
}
